@media(min-width:998px){
    .donate-today-button{
        top: 73%;
        left: 3%;
    }
    .one{
        display: grid;
        grid-column: 1fr 1fr;
        background-image: url("annie-spratt-135307-unsplash-desktop.png") ;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 1;
        
    }
    .take-action{
        top: 143%;
        left: 38%;
    }
    .stories{
        top: 5%;
        left: 45%;
    }
    .wrapper{
        display: flex;
        gap: 10rem;
    }
    .nav-items{
        display: flex;
        gap: 10rem;
    }
    #rect-1{
        grid-column: 1/2;
    }
}